div.leftcolumn {
	width:55%;
	float:left;
	margin-right:0;
	margin-left:0;
}
div.rightcolumn {
	width:45%;
	float:right;
	margin-left:0;
	margin-right:0;
}
slidecontent {
	float:left;
	font-size:15;
	font-family:verdana;
	<!--font-weight:bold;-->
}
slidecontent ul {
	padding:1em;
	list-style-type:disc;
}
header {
	color: white;
	padding:0.1em;
	text-align:left;
	background-color:#005ce6;
	font-family:verdana;
	text-indent:1em;
}
header:hover {background-color:#0000cc}
div.footer {
	color: white;
	text-align:right;
	background-color:#00004d;
	font-family:verdana;
	width:100%;
	margin-left:0;
	margin-right:0;
	margin-top:455px;
}
